@model Assignment.Models.ChiTietDonHang

@{
    ViewData["Title"] = "Edit";
}

<style>
    .form-group {
        margin: 20px 0;
    }
</style>

<h4>Đơn hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdChiTietDonHang" />
            <div class="form-group">
                <label asp-for="IdDonHang" class="control-label"></label>
                <select asp-for="IdDonHang" class="form-control" asp-items="ViewBag.IdDonHang"></select>
                <span asp-validation-for="IdDonHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSanPham" class="control-label"></label>
                <select asp-for="IdSanPham" class="form-control" asp-items="ViewBag.IdSanPham"></select>
                <span asp-validation-for="IdSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
