
#formdangky h2 {
    text-align: center;
    color: #1e90ff;
    margin-bottom: 20px;
}

#formdangky input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#formdangky button {
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#formdangky button:hover {
    background-color: #1c86e0;
    cursor: pointer;
}

#formdangky .login-link {
    text-align: center;
    margin-top: 15px;
}

    #formdangky .login-link a {
        color: #1e90ff;
        text-decoration: none;
    }

        #formdangky .login-link a:hover {
            text-decoration: underline;
        }