
<link rel="stylesheet" href="/css/GioiThieu.css" />


<div id="Gioithieu">
    <div class="about-us">
        <h2>Giới thiệu về chúng tôi</h2>
        <p>Shop Thời Trang Online tự hào là địa chỉ mua sắm quần áo uy tín, chất lượng với hàng ngàn sản phẩm phong phú, đa dạng. Chúng tôi cam kết mang đến cho khách hàng những sản phẩm thời trang mới nhất, hợp thời trang và giá cả phải chăng. Với dịch vụ giao hàng nhanh chóng và chính sách đổi trả linh hoạt, Shop Thời Trang Online sẽ mang đến cho bạn trải nghiệm mua sắm tuyệt vời.</p>
    </div>

    <div class="features">
        <div class="feature-item">
            <img src="/Images/GioiThieu/Sanphamdadang.png" alt="Sản phẩm đa dạng">
            <h3>Sản phẩm đa dạng</h3>
            <p>Chúng tôi cung cấp nhiều loại quần áo phù hợp với mọi phong cách và lứa tuổi.</p>
        </div>
        <div class="feature-item">
            <img src="/Images/GioiThieu/Giaohangnhanhchong.png" alt="Giao hàng nhanh chóng">
            <h3>Giao hàng nhanh chóng</h3>
            <p>Dịch vụ giao hàng nhanh chóng và tiện lợi trên toàn quốc.</p>
        </div>
        <div class="feature-item">
            <img src="/Images/GioiThieu/Doitradedang.png" alt="Đổi trả dễ dàng">
            <h3>Đổi trả dễ dàng</h3>
            <p>Chính sách đổi trả linh hoạt trong vòng 30 ngày.</p>
        </div>
    </div>
</div>